#contact{
    height: 700px;
    display: flex;
}
.fhalf{
    background-color: rgba(14, 52, 102, 1);
    width: 50%;
    height: 700px;
}
.rectangle{
    margin-left: 140px;
    width: 250px;
    height: 5px;
    background-color: white;
}
form{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

input{
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
}
.message{
    height: 100px;
}
.submit{
    border-style: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    background-color: rgba(236, 34, 50, 1);
    color: white;
}
.sHalf{
    width: 50%;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    /* font-weight: lighter; */
}